Flask
Flask-Cors
Flask-SQLAlchemy
Flask-Migrate
opencv-python
numpy
ultralytics
requests
reportlab
librosa
soundfile
joblib
pytest
Flask-SocketIO==5.3.6
psutil
aiortc
aiohttp

supabase==2.4.3
psycopg2-binary
python-dotenv
sahi
paho-mqtt>=1.6.1
Flask-Limiter
scikit-learn
PyJWT

# FastAPI Migration
fastapi
uvicorn[standard]
python-multipart
pydantic
python-socketio[asyncio]
Flask-JWT-Extended
