Flask
Flask-Cors
Flask-Bcrypt
Flask-JWT-Extended
Flask-SQLAlchemy
Flask-Migrate
opencv-python
numpy
ultralytics
requests
reportlab
librosa
soundfile
joblib
pytest
Flask-SocketIO==5.3.6
psutil
aiortc
aiohttp

supabase==2.4.3
